@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: "Comic Neue";
}

body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)), url(assets/bg2.png);
    backgorund-repeat: no-repeat;
    background-postion: center;
    background-attachment: fixed;
    background-size: cover;
}


.menu_bar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(254, 189, 213, 0.9);
    height: 8vh;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.left_header{
    width: 40%;   
    padding-top: 8px;
}   

#title_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right_header{
    width: 30px;   
    padding-top: 8px;
}   

#menu_btn{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu_show{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-bottom: 2px solid rgba(254, 189, 213, 0.658);
    
    > *{
        color: rgba(254, 189, 213, 0.9);
    }
}

.menu_hide{    
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 30px;
}

.welcome_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img_box{
    width: 30%;
    height: 100%;
}

#logo{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.text_box{
    background-color: rgba(254, 189, 213, 0.9);
    padding: 20px;
    max-width: 40%;
    max-height: 70%;
    border-radius: 25px;
}

#welcome_text{
    font-size: small;
    text-align: justify;
}


.add_task{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_title{
    width: 30%;
    height: 100%;
}

#addtask_logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.addtask_text{
    width: 90%;
    padding: 15px;
    border-radius: 25px;
    display: grid;
    gap: 10px;
}

#addtask_input{
    border: 2px solid rgba(254, 189, 213, 0.9); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    width: 100%;
    min-height: 120px;
    background-color: rgba(255,255,255, 0.9);
    color: black;
    text-align: center;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding: 10px;
}

#addtask_input:focus{
    outline: none;
    border: 2px solid rgba(254, 189, 213, 0.9); 
}
#addtask_submit{
    width: 100%;
    border-radius: 25px;
    background-color: rgba(254, 189, 213, 0.9); 
    height: 40px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.main_tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks_title{
    width: 30%;
    height: 100%;
}

#tasks_logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.tasks_list{
    display: grid;
    grid-template-rows: 1fr;
    width: 90%;
    gap: 15px;
    padding: 15px;
    border-radius: 25px;
}

.task{
    border-radius: 20px;
    background-color: rgba(255, 178, 206, 0.8);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task_done{
    background-color: rgba(255, 178, 206, 0.411);
    color: black;
}

.upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_details{
    font-size: small;

    > *{
        color: rgba(218, 158, 180, 0.8);
    }
}

.task_content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.delete{
    display: flex;
    align-items: center;
}


/*for the special task*/

.special_task{
    border-radius: 19px;
    background-color: rgba(254, 178, 206, 0.8);
    box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    height: 199px;
    background-image: url(assets/tung.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

#special_click{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    animation: throb 1.2s ease-in-out infinite;
    font-size: 30px;
    rotate: -10deg;
}

@keyframes throb {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.hide{
    display: none;
}

.letter_container{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 85%;
    position: fixed;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: end;
}