@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: "Comic Neue";
}

body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)), url(assets/bg2.png);
    backgorund-repeat: no-repeat;
    background-postion: center;
    background-attachment: fixed;
    background-size: cover;
}


header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(254, 189, 213, 0.9);
    height: 8vh;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.left_header{
    width: 40%;   
    padding-top: 8px;
}   

#title_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right_header{
    width: 30px;   
    padding-top: 8px;
}   

#menu_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 30px;
}

.welcome_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img_box{
    width: 30%;
    height: 100%;
}

#logo{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.text_box{
    background-color: rgba(254, 189, 213, 0.9);
    padding: 20px;
    max-width: 40%;
    max-height: 70%;
    border-radius: 25px;
}

#welcome_text{
    font-size: small;
    text-align: justify;
}


.add_task{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_title{
    width: 30%;
    height: 100%;
}

#addtask_logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.addtask_text{
    width: 90%;
    padding: 15px;
    border-radius: 25px;
    display: grid;
    gap: 10px;
}

#addtask_input{
    border: 2px solid rgba(254, 189, 213, 0.9); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    width: 100%;
    min-height: 120px;
    background-color: rgba(255,255,255, 0.9);
    color: black;
    text-align: center;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding: 10px;
}

#addtask_input:focus{
    outline: none;
    border: 2px solid rgba(254, 189, 213, 0.9); 
}
#addtask_submit{
    width: 100%;
    border-radius: 25px;
    background-color: rgba(254, 189, 213, 0.9); 
    height: 40px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.main_tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks_title{
    width: 30%;
    height: 100%;
}

#tasks_logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.tasks_list{
    display: grid;
    grid-template-rows: 1fr;
    width: 90%;
    gap: 15px;
    padding: 15px;
    border-radius: 25px;
}

.task{
    border-radius: 20px;
    min-height: 120px;
    background-color: rgba(254, 189, 213, 0.8);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
